.page {
	font-family: GoogleSans;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.header {
	color: black;
}

@font-face {
	font-family: GoogleSans;
	src: url(../../assets/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf);
}