@font-face {
  font-family: GoogleSans;
  src: url(/assets/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf);
}

body {
  background-color: #0b0f1a;
  background-image: url(/assets/stars.jpg);
}

.page {
  font-family: GoogleSans;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto 1fr;
  grid-template-areas:
    "nav nav"
    "header header"
    "select select"
    "attributes description"
    "orbit orbit"
    "timeline timeline";
  gap: 20px;
  min-height: 100vh;
  padding: 20px;
  color: white;
  margin: auto;
}

.nav {
  grid-area: nav;
  justify-self: center;
}

.header {
  grid-area: header;
  justify-self: center;
  margin-top: 40px;
}

.select {
  grid-area: select;
  justify-self: center;
  color: white;
}

.attributes {
  grid-area: attributes;
}

.description {
  grid-area: description;
}

.orbit {
  grid-area: orbit;
}

.timeline {
  grid-area: timeline;
}

.error {}

@media (max-width: 750px) {
  .page {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "header"
      "select"
      "attributes"
      "description"
      "orbit"
      "timeline";
  }
}